<h2><%= "Merge Requests on #{@date.strftime("%B/%y")}" %></h2>

<%= link_to "CSV", by_month_merge_requests_path(date: @date, format: 'csv') %>

<h3>Summary</h3>

<table>
  <tbody>
    <tr>
      <td>Total</td><td><%= @merge_requests.count %></td>
    </tr>
    <tr>
      <td>Opened</td><td><%= @merge_requests.opened.count %></td>
    </tr>
    <tr>
      <td>Merged</td><td><%= @merge_requests.merged.count %></td>
    </tr>
    <tr>
      <td>Closed</td><td><%= @merge_requests.closed.count %></td>
    </tr>
    <tr>
      <td>Deploy to Production</td>
      <td><%= @merge_requests.on_production.count %></td>
    </tr>
  </tbody>
</table>

<hr>

<h3>Details</h3>

<table>
  <thead>
    <th>Merge Request ID</th>
    <th>Created at</th>
    <th>Merged at</th>
    <th>Staging at</th>
    <th>Canary at</th>
    <th>Production at</th>
  </thead>
  <tbody>
    <% @merge_requests.merged.by_merged_at.each do |merge_request| %>
      <tr>
        <td><%= link_to merge_request.gitlab_path, merge_request.gitlab_path, target: 'blank' %></td>
        <td><%= merge_request.created_at_gitlab.strftime("%F %H:%M") %></td>
        <td><%= merge_request.merged_at.strftime("%F %H:%M") %></td>
        <td><%= merge_request.staging_at&.strftime("%F %H:%M") %></td>
        <td><%= merge_request.canary_at&.strftime("%F %H:%M") %></td>
        <td><%= merge_request.production_at&.strftime("%F %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
