<h3>Measure Mean Time To Production (with Development)</h3>

<%= link_to "CSV", mttp_with_development_merge_requests_path(date: @date, format: 'csv') %>

<table>
  <thead>
    <tr>
      <td>Total: </td>
      <td><%= @merge_requests.count %></td>
    </tr>
    <tr>
      <td>Average time between Opened and Production</td>
      <td><%= MergeRequest.average_mttp_with_development(@merge_requests) %></td>
    </tr>
  </thead>
</table>

<table>
  <thead>
    <th>Merge Request ID</th>
    <th>Time between Opened and Production</th>
    <th>Time between Opened and Merged</th>
    <th>Time between Merged and Staging</th>
    <th>Time between Staging and Canary</th>
    <th>Time between Canary and Production</th>
  </thead>
  <tbody>
    <% @merge_requests.by_created_at.each do |merge_request| %>
      <tr>
        <td><%= link_to merge_request.gitlab_path, merge_request.gitlab_path, target: 'blank' %></td>
        <td><%= merge_request.time_between_opened_and_production %></td>
        <td><%= merge_request.time_between_development_and_merged %></td>
        <td><%= merge_request.time_between_merged_and_staging %></td>
        <td><%= merge_request.time_between_staging_and_canary %></td>
        <td><%= merge_request.time_between_canary_and_production %></td>
      </tr>
    <% end %>
  </tbody>
</table>
