<h3>Statistics by month</h3>

<table>
  <thead>
    <th>Month</th>
    <th>Merge Requests</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @september.strftime("%B") %></td>
      <td><%= link_to "Merge Requests", by_month_merge_requests_path(date: @september.to_s) %></td>
      <td><%= link_to "MTTP with development", mttp_with_development_merge_requests_path(date: @september.to_s) %></td>
      <td><%= link_to "MTTP", mttp_merge_requests_path(date: @september.to_s) %></td>
    </tr>
  </tbody>
</table>
